#list {
    border-collapse: collapse;
    width: 100%;
}
#list th {
    background-color: #00aeef;
    color: white;
}
#list th, #list td {
    border: 2px solid #00aeef;
    text-align: center;
    padding: 8px;
}
#list tr:nth-child(even) {
    background-color: #f2f2f2;
}
